<link rel="stylesheet" href="onsen-css-components.min.css">
<div class="tab-bar tab-bar--top tab-bar--top-border">
  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b" checked="checked">
    <button class="tab-bar__button tab-bar--top-border__button">
      Студенту
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button class="tab-bar__button tab-bar--top-border__button">
      Абитуриенту
    </button>
  </label>

  <label class="tab-bar__item tab-bar--top-border__item">
    <input type="radio" name="top-tab-bar-b">
    <button class="tab-bar__button tab-bar--top-border__button">
      Поиск
    </button>
  </label>
</div>